trigger:
- main

pr:
- main

pool:
  vmImage: 'windows-latest'

variables:
  GOPATH: '$(system.defaultWorkingDirectory)\work'
  ModulePath: $(GOPATH)\src\github.com\Azure\acr-builder

steps:

- task: GoTool@0
  inputs:
    version: '1.25.7'

- script: |
    (robocopy $(system.defaultWorkingDirectory) $(ModulePath) /E /XD  $(system.defaultWorkingDirectory)\work)^& IF %ERRORLEVEL% LSS 8 SET ERRORLEVEL = 0
  displayName: 'Setup'

- script: |
    go version
    go env
    go build -mod vendor -o acb.exe .\cmd\acb
  workingDirectory: '$(ModulePath)'
  displayName: 'Build'

- script: |
    go test ./... 
  workingDirectory: '$(ModulePath)'
  displayName: 'Test'

- script: |
    echo $(ModulePath)

    cd $(ModulePath)
    docker build -t acb:$(Build.BuildId) -f Windows.Dockerfile .

    cd $(ModulePath)\baseimages\docker-cli
    docker build -t docker:$(Build.BuildId) -f Windows.Dockerfile .
  displayName: 'Docker Build'
